{% extends "horarios/base.html" %}
{% load static %}

{% block title %}
Planificación Académica
{% endblock %}


{% block content %}

<div class="row justify-content-center">

    <div class="col-lg-10 col-xl-9">

        <div class="mb-4">

            <h1 class="h2 fw-semibold">
                Planificación Académica
            </h1>

            <p class="text-secondary">
                Seleccione la estructura académica para consultar
                o construir la planificación de horarios.
            </p>

        </div>


        <div class="card shadow-sm border-0">

            <div class="card-body p-4 p-md-5">

                <form method="GET" action="{% url 'planificacion' %}">

                    <div class="row g-4">


                        <!-- Centro Tutorial -->

                        <div class="col-md-6">

                            <label
                                for="centro"
                                class="form-label"
                            >
                                Centro Tutorial
                            </label>

                            <select
                                id="centro"
                                name="centro"
                                class="form-select"
                                required
                            >
                                <option value="">
                                    Seleccione...
                                </option>

                                {% for centro in centros %}
                                    <option value="{{ centro.id }}">
                                        {{ centro.nombre }}
                                    </option>
                                {% endfor %}
                            </select>

                        </div>


                        <!-- Sede -->

                        <div class="col-md-6">

                            <label
                                for="sede"
                                class="form-label"
                            >
                                Sede
                            </label>

                            <select
                                id="sede"
                                name="sede"
                                class="form-select"
                                required
                                disabled
                            >
                                <option value="">
                                    Seleccione primero un Centro Tutorial...
                                </option>
                            </select>

                        </div>


                        <!-- Facultad -->

                        <div class="col-md-6">

                            <label
                                for="facultad"
                                class="form-label"
                            >
                                Facultad
                            </label>

                            <select
                                id="facultad"
                                name="facultad"
                                class="form-select"
                                required
                                disabled
                            >
                                <option value="">
                                    Seleccione primero una Sede...
                                </option>
                            </select>

                        </div>


                        <!-- Carrera -->

                        <div class="col-md-6">

                            <label
                                for="carrera"
                                class="form-label"
                            >
                                Carrera
                            </label>

                            <select
                                id="carrera"
                                name="carrera"
                                class="form-select"
                                required
                                disabled
                            >
                                <option value="">
                                    Seleccione primero una Facultad...
                                </option>
                            </select>

                        </div>


                        <!-- Periodo académico -->

                        <div class="col-md-6">

                            <label
                                for="periodo"
                                class="form-label"
                            >
                                Periodo Académico
                            </label>

                            <select
                                id="periodo"
                                name="periodo"
                                class="form-select"
                                required
                                disabled
                            >
                                <option value="">
                                    Seleccione primero una Carrera...
                                </option>
                            </select>

                        </div>


                        <!-- Semestre -->

                        <div class="col-md-6">

                            <label
                                for="semestre"
                                class="form-label"
                            >
                                Semestre
                            </label>

                            <select
                                id="semestre"
                                name="semestre"
                                class="form-select"
                                required
                                disabled
                            >
                                <option value="">
                                    Seleccione primero un Periodo...
                                </option>
                            </select>

                        </div>

                    </div>


                    <hr class="my-4">


                    <div class="d-flex justify-content-end">

                        <button
                            type="submit"
                            class="btn btn-primary px-4"
                        >
                            Ver planificación
                        </button>

                    </div>

                </form>

            </div>

        </div>

    </div>

</div>


{% endblock %}

{% block scripts %}

<script src="{% static 'horarios/js/selects.js' %}"></script>

{% endblock %}